<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">TLC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto">
                
                {{#if model.loggedIn}}
                <li class="nav-item">
                    <a class="nav-link {{#if model.path.dashboard}}active{{/if}}" aria-current="page"
                        href="/dashboard">Dashboard</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link {{#if model.path.home}}active{{/if}}" aria-current="page" href="/">Home</a>
                </li>
                {{/if}}
                {{#if model.loggedIn}}
                <li class="nav-item">
                    <a class="nav-link {{#if model.path.streams}}active{{/if}}" aria-current="page"
                        href="/streams">Streams</a>
                </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link {{#if model.path.about}}active{{/if}}" href="/about">About</a>
                </li>
            </ul>
            <span class="navbar-text mx-2">v1.2</span>
            {{#unless model.path.home}}
                {{#if model.loggedIn}}
                <a class="btn btn-sm btn-outline-danger" href="/logout" role="button">Log out</a>
                {{else if model.googleLoginURL}}
                <a class="btn btn-sm btn-outline-success" href="{{ model.googleLoginURL }}" role="button">Log in</a>
                {{else}}
                <a class="btn btn-sm btn-outline-success" href="/login" role="button">Log in</a>
                {{/if}}
            {{/unless}}
        </div>
    </div>
</nav>

{{!-- <script>
    var navModel = {{ json model }};
    console.log('NavbarModel:', navModel);
</script> --}}