<div class="col mb-4">
    <div class="card shadow-sm">
        <input type="hidden" id="{{this.id}}" name="streamId" value="{{this.id}}">
        <img src="{{this.thumbnail.url}}" class="img-fluid card-img-top" alt="video thumbnail">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                            {{#if this.enableAutoStart}}checked{{/if}} disabled>
                        <label class="form-check-label" for="autoStart">auto-start</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                            {{#if this.enableAutoStop}}checked{{/if}} disabled>
                        <label class="form-check-label" for="autoStop">auto-stop</label>
                    </div>
                </li>
            </ul>
            <p class="card-text">{{this.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group dropend">
                    <a class="btn btn-sm btn-outline-secondary" target="_blank" href="{{ this.videoLink }}"
                        role="button">View</a>
                    <button class="btn btn-sm btn-outline-secondary" onClick="editStreamModal('{{id}}',this)"
                        role="button">Edit
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons">more_horiz</i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item d-flex justify-content-between" onClick="deleteStreamModal('{{id}}',this)">Delete<i class="material-icons">delete_outline</i></button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{toLocalDatetime this.startTime}} - {{this.id}}
        </div>
    </div>
</div>