<div class="album py-5 bg-light">
  <div class="container">
    <h1>Upcoming Streams</h1>
    <a href="/dashboard">Go back to dashboard</a>
    {{#each model.streams}}
    <h4>{{ this.snippet.title }}</h4>
    {{/each}}

    {{#if model.error}}
    <div class="alert alert-danger" role="alert">
      There was an error: <i>{{model.error.errorMessage}}</i> {{#if model.error.helpLink}}<a
        href="{{model.error.helpLink}}" class="alert-link">more information</a>{{/if}}.
    </div>
    {{/if}}


    {{!-- example stream boxes --}}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {{#each model.streams}}
      <div class="col">
        <div class="card shadow-sm">
          <img src="{{this.thumbnail.url}}" alt="" srcset="">

          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <b class="card-text">Autostart?:{{this.enableAutoStart}}</b>
            <p class="card-text">{{this.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="{{ this.videoLink }}" role="button">View</a>
                <a class="btn btn-sm btn-outline-secondary" href="{{ this.studioLink }}" role="button">Edit</a>
                {{!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> --}}
              </div>
              <small class="text-muted">{{toLocalDatetime this.startTime}}</small>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>